* {
    margin: 0;
    padding: 0;
}

button, button:disabled {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 25px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(57, 75, 65);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: rgb(67, 37, 37);
    width: 400px;
    height: 550px;
    padding: 20px 0px 20px 0px;
}

.display {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.display div {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    overflow: auto;
    margin: 10px 30px;
    font-size: 95px;
    padding: 0px, 10px;
}

#display-span {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
 
}

.row-buttons {
    display: flex;
}

#row0 {
    flex-direction: row-reverse;
}

#row4 {
    justify-content: end;
}

#row5 button {
    flex-grow: 2;
}
